<%= link_to "前の月", posts_path(month: @month.prev_month) %>
<p><%= @month.month %>月分の支出</p>
<%= link_to "次の月", posts_path(month: @month.next_month) %>

<table>
  <% @posts.each do |post| %>
      <tr>
        <th><%= post.spend_date %></th>
        <th><%= post.title %></th>
        <th><%= post.money %></th>
        <th><%= link_to "edit", edit_post_path(post.id,) %></th>
        <th><%= link_to "destroy", post_path(post.id), method: :delete %></th>        
      </tr>
  <% end %>
</table>
<%= link_to "new", new_post_path %>