<%= form_for(@post) do |f| %>
  <div>
    <%= f.date_select :spend_date %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :money %>
    <%= f.text_field :money %>
  </div>
  <div>
    <%= f.submit "POST" %>
  </div>
  
<% end %>