<!DOCTYPE html>
<html>
  <head>
    <title>SpendingManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <i class="bi bi-wallet2"></i>
      <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
    </header>
    <%= yield %>
  </body>
</html>
